{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Django-Django, lalala</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top text-center">
        <div class="container">
            <div class="navbar-header">
                <a href="/">
                    <img src="{% static 'images/logo.png' %}" width="80">
                </a>
            </div>
            <ul class="nav nav-pills pull-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Registration</a></li>
                {% endif %}
            </ul>
        </div>

    </nav>

    <main class="container" role="main">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-center">(c) Amlab</footer>
</body>
</html>