{% extends 'base.html' %}

{% block content %}
    <h1>Django, Hello</h1>

    <div class="treasure panel panel-default">
        <div class="row">
            {% for t in treasures %}
                <div class="col-md-4">
                    <div class="panel-heading">
                        <h2 class="panel-title"><a href="/{{ t.id}}">{{ t.name }}</a></h2>
                        <a class="panel-username"
                         href="/user/{{t.user.username}}/">
                         by: {{ t.user.username }}
                         </a>
                     </div>
                    <div class="panel-body">
                        <a href="/{{ t.id}}"><img src="{{ t.image.url }}" height="200" /></a><br/>
                        <button id ="likes" data-id="{{t.id}}"
                         class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                            {% if t.likes > 0 %} {{ t.likes }} {% endif %}
                         </button>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Add new</h3>
        </div>
        <div class="panel-body">
            <form enctype="multipart/form-data" action="post_url/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-default" />
            </form>
        </div>
    </div>
{% endblock %}